/* SITE COLOR VARIABLES */
:root {
  --primary-color: #fce138;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
}

/* DEFAULT CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BACKGROUND COLOR AND DEFAULT FONT FAMILIES */
body {
  background-color: var(--tertiary-color);
}

p {
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3 {
  font-family: 'Sanchez', serif;
}

/* BEGIN HEADER */
header {
    padding: 10% 6%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-image: url("../images/dragon-scene-red-fire.jpg");
    background-size: cover;
    background-position: bottom;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  header h2 {
    font-weight: lighter;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  header h3 {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 20px;
  }
/* END HEADER */

/* BEGIN ABOUT ME */
.about-me {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about-me img {
  width: 400px;
}

.about-me h2 {
font-size: 30px;
}

/* END ABOUT ME */