/* SITE COLOR AND FONT VARIABLES */
:root {
  --primary-color: #fce138;
  --secondary-color: #2e242c;
  --tertiary-color: #fffad0;
  --primary-font: 'Rubik', sans-serif;
  --secondary-font: 'Sanchez', serif;
}

/* DEFAULT CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BACKGROUND COLOR AND DEFAULT FONT FAMILIES */
body {
  background: linear-gradient(var(--tertiary-color), var(--primary-color), #ff6600, var(--secondary-color));
}

p, a {
  font-family: var(--primary-font);
}

h1, h2, h3 {
  font-family: var(--secondary-font);
}

/* BEGIN HEADER*/
header {
  padding: 20px 35px;
  background-color:var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  background-image: url("../images/dragon-scene-red-fire.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 500px;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: lighter;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

header h1 span {
  font-size: 16px;
  color: var(--tertiary-color);
  font-family: var(--primary-font);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--primary-font);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  color: var(--tertiary-color);
}
/* END HEADER */

/* BEGIN HERO */
.hero {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/dragon-scene-red-fire.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 500px;
  }

  .hero h3 {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 20px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    margin: 300px 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
  }
/* END HERO */

/* BEGIN ABOUT ME */
.about-me {
  margin: 50px auto;

  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.about-me h2 {
  font-size: 30px;
  flex: 1 15%;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  text-align: center;
  }

.about-me-info {
  flex: 2 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.about-me-img {
  flex: 1 15%;
  margin: 0 20px;
}

.about-me-img img {
  max-width: 100%;
}

.about-me-img h2 {
  display: none;
}

.about-me-text {
  flex: 3;
}

.about-me-text p {
  font-size: 18px;
}

/* END ABOUT ME */

/* START WORK */
.work {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  
}

.work h2 {
  font-size: 30px;
  flex: 1 15%;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  text-align: center;
  }

.portfolio {
  flex: 2 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left:20px;
}

.example {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top center;
  border: 5px solid var(--secondary-color);
}

.example p, .example .button{
  display: none;
}

.project-nexus {
  background-image: url(../images/d-verse.JPG);
  height: 420px;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.project-stand-up-kids {
  background-image: url(../images/standupkids.JPG);
  height: 200px;
}

.project-rifts-cc {
  background-image: url(../images/riftscc.JPG);
  height: 200px;
}

.project-su-city {
  background-image: url(../images/sucity.JPG);
  height: 200px;
}

.project-runbuddy {
  background-image: url(../images/runbuddy.JPG);
  height: 200px;
}

.example:hover {
  border-color: var(--primary-color);
}

.example:hover p{
  display: unset;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  color: var(--tertiary-color);
  text-align: center;
  padding: 10%;
  font-size: 16px;
}

.example:hover p span{
font-family: var(--secondary-font);
font-weight: bold;
font-size: 18px;
color: var(--primary-color);
}

.example:hover .button {
  display: unset;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px;
  border: none;
  font-family: var(--secondary-font);
  font-weight: bold;
}
/* END WORK*/

/* BEGIN CONTACT */
.contact-me {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-me h2 {
  font-size: 30px;
  flex: 1 15%;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  text-align: center;
  }

.contact-info {
  flex: 2 85%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  background-color: var(--tertiary-color);
  padding: 10px;
}

.contact-info a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 22px;
}

.phone:hover a, .email:hover a, .linkedin:hover a, .github:hover a {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  margin: -8px;
  padding: 8px;
}
/* END CONTACT */

/* BEGIN FOOTER */
footer h2 {
  text-align: center;
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: lighter;
  padding: 20px;
}
/* END FOOTER */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1200px) {

  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .about-me h2 {
    display: none;
  }
  
  .about-me-img h2 {
    display: flex;
    padding: 5px;
    font-size: 26px;
    justify-content: space-around;
  }

  .work {
    margin: none;
  }
  .work h2{
    padding: 0 25%;
    margin-bottom: 30px;
  }

  .portfolio {
    padding-left:0;
  }

  .example:hover p {
    font-size: 14px;
  }

  .example:hover p span{
    font-size: 16px;
  }

  .contact-me h2{
    padding: 5px 25%;
    margin-bottom: 0;
  }
}

/* MEDIA QUERY FOR TABLET SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
  
  header {
    position: relative;
  }

  .hero {
    justify-content: center;
    align-items: center;
  }

  .hero h3{
    margin: 20px 20px 20px 20px;
  }

  .about-me-img {
    width: fit-content;
    margin: 0;
  }

  .about-me-img img {
    width: 100%;
  }

  .about-me-img h2{
    font-size: 35px;
    width: 100%;
    justify-content: space-around;
  }

  .about-me-text {
    flex: 100%;
    padding: 20px;
  }

  .portfolio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .project-nexus {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 400px;
  }

  .project-stand-up-kids, .project-rifts-cc, .project-runbuddy, .project-su-city{
    height: 400px;
  }

  .example:hover p {
    font-size: 22px;
  }

  .example:hover p span{
    font-size: 34px;
  }

  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .contact-info a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .contact-info:hover a{
    margin: -5px;
    padding: 15px;
  }
}